<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAT0hYNP6V6uhtZNJPv-IrgiKnjZ5nHSRI</string>
	<key>GCM_SENDER_ID</key>
	<string>523429894990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apnicabi</string>
	<key>PROJECT_ID</key>
	<string>apnicabi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>apnicabi-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523429894990:ios:872507c1c2eaaf2bc2dc1f</string>
</dict>
</plist>